<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 
		La cadena de conexión puede configurarse aquí o en un archivo 'connectionstring.txt' 
		en el directorio de la aplicación. El archivo 'connectionstring.txt' tiene prioridad.
		
		Formato de la cadena de conexión:
		Server=nombre_servidor;Database=ViabilidadJuridica;User Id=usuario;Password=contraseña;Encrypt=False;TrustServerCertificate=True
		-->
		<add name="ViabilidadJuridica"
			 connectionString="Server=172.23.92.97\MSSQLSERVER2022;Database=ViabilidadJuridica;User Id=andres.garciav;Password=4ndr3s.g4rc14v_3610@;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

